.bg-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.body-container {
  width: 100%;
  text-align: center;
  padding: 40px;
}
