.curr-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.euro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
}
